@page
@model PorTala.Pages.LinksModel

<h2 class="mb-4">Useful Links</h2>

<div class="row">

    @foreach (var link in Model.Links)
    {
        <div class="col-md-4 mb-3">
            <div class="card p-3 shadow-sm">

                <h5>@link.Title</h5>

                <p>@link.Description</p>

                <a href="@link.URL" target="_blank" class="btn btn-primary">
                    Open
                </a>

            </div>
        </div>
    }

</div>